.button {
  /* Para centralizar o botão */
  display: flex;
  justify-content: center;

}

.myButton {
	background-color:#44c767;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.linkVoltar {
  margin: auto 0;
  margin-left: 10px;
}

.portas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.placar {
  width: 120px;
  padding: 10px;
  color: rgb(94, 243, 64);
  background: #177ad6;
}
