<div>
  <div class="placar">
    <h3>Vitórias: {{vitorias}}</h3>
    <h3>Derrotas: {{derrotas}}</h3>
  </div>

  <div class="portas">
    <div *ngFor="let porta of portas">
      <app-porta
        [porta]="porta"
        (eventoPorta)="preenchePlacar($event)"
        (eventoSelecionaPorta)="definePortaSelecionada($event)">
      </app-porta>
    </div>
  </div>

  <div class="button">
    <a href="#" class="myButton" (click)="iniciaJogo()">Novo Jogo</a>
    <a href="#" class="myButton" (click)="eliminarErradas()" style="margin-left: 15px">Eliminar erradas</a>
    <a href="#" class="linkVoltar" (click)="voltaParaMenu()">Voltar</a>
  </div>
</div>
